/* Importar tipografía de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* El gradient aplica una capa clara sobre tu imagen para no perder legibilidad */
    background: linear-gradient(rgba(244, 247, 246, 0.85), rgba(244, 247, 246, 0.85)), url('../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Efecto hover en las tarjetas de espacios para interactividad */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

/* Personalización de la barra de navegación */
.navbar {
    background-color: #0f172a !important; /* Tono azul oscuro institucional */
    border-bottom: 3px solid #ffc107; /* Línea amarilla inferior */
}

/* Estilo personalizado para el panel de reservas */
#contenedor-reservas {
    max-height: 400px;
    overflow-y: auto;
}

/* Diseño de la barra de desplazamiento (Scrollbar) */
#contenedor-reservas::-webkit-scrollbar {
    width: 8px;
}

#contenedor-reservas::-webkit-scrollbar-track {
    background: #e9ecef; /* Color de fondo del riel */
    border-radius: 10px;
}

#contenedor-reservas::-webkit-scrollbar-thumb {
    background-color: #198754; /* Color de la barra móvil */
    border-radius: 10px;
}